

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.inicio{
    background-image: url(../assets/img/Inicio.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.conocenos{
    background-image: url(../assets/img/Conocenos.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.clases{
    background-image: url(../assets/img/Clases.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.galeria{
    background-image: url(../assets/img/Galeria.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contacto{
    background-image: url(../assets/img/Contacto.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
header{
    margin-bottom: 15px;
    position: relative;
}
.encabezado{
    width: 100%;
    height: 130px;
}
.logo{  
    position: absolute;
    height: 120px;
    width: 120px;
    padding-top: 15px;
    padding-left: 20px;

}
.navbar{
    display: flex;
    font-size: 25px;
    font-family: "inria sans";
    gap: 20px;
    justify-content:flex-end;
    margin-right: 50px;
    padding-top: 50px;
    height: 130px;
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: white;

}
.limites{
    padding-left: 20px;
}
h1{
    font-size: 150px;
    color: yellow;
    font-style: bold;
    font-family: "titillium web";
    letter-spacing: 10px;
}
.p{
    font-size: 40px;
    font-style: bold;
    font-family: "titillium web";
    color: white;
    text-align: left;
    padding-top: 20px;
}
.pDetalle{
    color: yellow;
}

.p1{
    font-size: 64px;
    font-family: "titillium web";
    color: white;
    font-style: normal;
    text-align: right;
    display: flex;
    writing-mode: vertical-lr;
    margin-left: 90%;
}
.p2{
    font-size: 130px;
    color: white;
    font-style: bold;
    font-family: "titillium web";
    text-align: right;
    margin-right: 25%;
}
h2{
    font-size: 100px;
    font-family: "titillium web";
    letter-spacing: 10px;
    color: yellow;
    font-style: bold;
}
.training{
    text-align: center;

}
.dicipline{
    writing-mode: vertical-lr;
    margin-left: 85%;
}
.prog{
    text-align: center;
}

.foot{
    height: 30px;
    width: 30px;
    margin-left: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 55px;
}
.containerClases{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profes{
    width: 300px;
    height: 320px;
    border: 5px solid yellow;
    border-radius: 25px;
}

.p3{
    font-size: 24px;
    color: white;
    font-style: normal;
    font-family: "titillium web";
    text-align: center;
}
.p4{
    font-size: 18px;
    color: white;
    font-style: normal;
    font-family: "titillium web";
    text-align: center;
    padding: 10px;
}
.p4Contacto{
    font-size: 18px;
    color: white;
    font-style: normal;
    font-family: "titillium web";
    text-align: left;
    margin-left: 20px;
}
h3{
    font-size: 60px;
    color: yellow;
    font-style: bold;
    font-family: "titillium web";
}
.ubicacion{
    font-size: 60px;
    color: yellow;
    font-style: bold;
    text-align: center;
    font-family: "titillium web";
}
.maps{
    text-align: center;
}
.imgClases{
    height: 300px;
    width: 280px;
    justify-content: center;
    border: 2px solid yellow;
    border-radius: 15px;
    margin-top: 10px;
}
h4{
    font-size: 40px;
    color: white;
    font-style: normal;
    font-family: "titillium web";
    text-align: center;
    padding-bottom: 20px;
}
.h4Contacto{
    font-size: 40px;
    color: white;
    font-style: normal;
    font-family: "titillium web";
    text-align: left;
    margin-left: 20px;
}
.imgGaleria{
    height: 200px;
    width: 180px;
    border: 2px solid yellow;
    border-radius: 15px;
}
.imgGaleria1{
    height: 200px;
    width: 260px;
    border: 2px solid yellow;
    border-radius: 15px;
}
.datosPersonales{
    font-size: 15px;
    color: white;
    font-style: normal;
    font-family: "titillium web";
    padding: 10px;
}
.datosDeContacto{
    font-size: 14px;
    color: white;
    font-style: normal;
    font-family: "titillium web";
    padding: 10px;
}
.cuadro{
    width: 500px;
    text-align: center;
    margin-left: 20px;
}


