@import url("https://fonts.googleapis.com/css2?family=Inria+Sans&family=Titillium+Web:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Titillium+Web:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.inicio {
  background-image: url(../assets/img/Inicio.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.containerInicio {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10% repeat(2, 1fr) 5%;
  grid-template-areas: "header header header header header" "main main main main main" "main main main main main" "footer footer footer footer footer"; }

.limites {
  padding-left: 20px; }

h1 {
  letter-spacing: 10px;
  font-size: 150px;
  font-style: bold;
  color: yellow;
  font-family: titillium web; }

.strong {
  -webkit-animation: strong 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: strong 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes strong {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes strong {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

.p {
  padding-top: 20px;
  font-size: 40px;
  font-style: bold;
  color: white;
  font-family: titillium web;
  text-align: left; }

.pDetalle {
  color: yellow; }

.p1 {
  display: flex;
  writing-mode: vertical-lr;
  margin-left: 85%;
  font-size: 64px;
  font-style: normal;
  color: white;
  font-family: titillium web;
  text-align: right; }

.p2 {
  margin-right: 25%;
  padding-bottom: 50px;
  font-size: 130px;
  font-style: bold;
  color: white;
  font-family: titillium web;
  text-align: right; }

.conocenos {
  background-image: url(../assets/img/Conocenos.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.containerConocenos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10% repeat(2, 1fr) 5%;
  grid-template-areas: "header header header header header" "main main main main main" "main main main main main" "footer footer footer footer footer"; }

h2 {
  letter-spacing: 10px;
  text-align: center;
  font-size: 100px;
  font-style: bold;
  color: yellow;
  font-family: titillium web; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 55px; }

.profes {
  width: 280px;
  height: 300px;
  border: 5px solid yellow;
  border-radius: 25px; }

.profes {
  -webkit-animation: profes 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: profes 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes profes {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1; } }

@keyframes profes {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1; } }

.p3 {
  font-size: 24px;
  font-style: normal;
  color: white;
  font-family: titillium web;
  text-align: center; }

.p4 {
  padding: 4px;
  font-size: 18px;
  font-style: normal;
  color: white;
  font-family: titillium web;
  text-align: center; }

h3 {
  font-size: 60px;
  font-style: bold;
  color: yellow;
  font-family: titillium web; }

.ubicacion {
  text-align: center;
  font-size: 50px;
  font-style: bold;
  color: yellow;
  font-family: titillium web; }

.maps {
  text-align: center; }
  .maps .mapa {
    height: 260px;
    width: 260px;
    padding-bottom: 15px; }

.clases {
  background-image: url(../assets/img/Clases.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.containerClases {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10% repeat(2, 1fr) 5%;
  grid-template-areas: "header header header header header" "main main main main main" "main main main main main" "footer footer footer footer footer"; }

.containerClasesImg {
  margin-left: 35px;
  margin-right: 35px; }
  .containerClasesImg .carousel-item img {
    height: 90vh;
    border-radius: 40px; }

.galeria {
  background-image: url(../assets/img/Galeria.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.containerGaleria {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10% repeat(2, 1fr) 5%;
  grid-template-areas: "header header header header header" "main main main main main" "main main main main main" "footer footer footer footer footer"; }

.containerGaleriaImg {
  margin-left: 65px;
  margin-right: 65px; }
  .containerGaleriaImg .carousel-item img {
    height: 90vh;
    border-radius: 40px; }

.mira {
  padding-top: 20px; }

.prog {
  text-align: center; }

.contacto {
  background-image: url(../assets/img/Contacto.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.containerContacto {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10% repeat(2, 1fr) 5%;
  grid-template-areas: "header header header header header" "main main main main main" "main main main main main" "footer footer footer footer footer"; }

.divCont {
  padding-top: 20px; }

.h4Contacto {
  text-align: left;
  margin-left: 20px;
  font-size: 40px;
  font-style: normal;
  color: white;
  font-family: titillium web; }

.p4Contacto {
  margin-left: 20px;
  font-size: 18px;
  font-style: normal;
  color: white;
  font-family: titillium web;
  text-align: left; }

.cuadro {
  text-align: center; }

.datosPersonales, .datosDeContacto {
  padding: 10px;
  font-size: 25px;
  font-style: normal;
  color: white;
  font-family: titillium web;
  text-align: none; }

.datosDeContacto {
  font-size: 15px; }

.dicipline {
  writing-mode: vertical-lr;
  margin-left: 75%;
  font-size: 60px; }

header {
  margin-bottom: 15px;
  position: relative;
  grid-area: header; }

.navbar {
  display: flex;
  font-size: 25px;
  font-family: "inria sans";
  gap: 20px;
  justify-content: flex-end;
  margin-right: 20px;
  padding-top: 10px; }
  .navbar li {
    list-style: none; }
    .navbar li a {
      text-decoration: none;
      color: white; }

.nav-link {
  color: white;
  font-family: "inria sains";
  font-size: 25px;
  text-align: right; }

.navbar-toggler {
  color: white; }

.logo {
  position: absolute;
  height: 120px;
  width: 120px;
  padding-top: 15px;
  padding-left: 20px; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.foot {
  height: 30px;
  width: 30px;
  margin-left: 20px; }

.ulFoot {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 10px; }
  .ulFoot li {
    list-style: none; }

@media (max-width: 768px) {
  .containerInicio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 65% 15% 10%;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
    background-image: url(../assets/img/Inicio.tablet.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .containerConocenos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 65% 19% 6%;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
    background-image: url(../assets/img/Conocenos-tablet.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .containerClases {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 65% 18% 7%;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
    background-image: url(../assets/img/Clases-tablet.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .containerGaleria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 65% 17% 8%;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
    background-image: url(../assets/img/Galeria-tablet.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .containerContacto {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 65% 17% 8%;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
    background-image: url(../assets/img/Contacto-celu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .navbar {
    display: flex;
    font-size: 20px;
    font-family: "inria sans";
    gap: 3px;
    justify-content: flex-end;
    padding-top: 20px;
    z-index: 1000; }
  .logo {
    position: absolute;
    height: 80px;
    width: 80px;
    padding-top: 20px;
    padding-left: 20px; }
  h1 {
    letter-spacing: 7px;
    font-size: 80px;
    font-style: bold;
    color: yellow;
    font-family: titillium web; }
  h2 {
    letter-spacing: 7px;
    font-size: 80px;
    font-style: bold;
    color: yellow;
    font-family: titillium web; }
  h4 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
    font-style: normal;
    color: white;
    font-family: titillium web; }
  .h4Contacto {
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
    font-style: normal;
    color: white;
    font-family: titillium web; }
  .p {
    padding-top: 5px;
    font-size: 30px;
    font-style: bold;
    color: white;
    font-family: titillium web;
    text-align: justify; }
  .p1 {
    display: flex;
    writing-mode: vertical-lr;
    margin-left: 85%;
    font-size: 50px;
    font-style: normal;
    color: white;
    font-family: titillium web;
    text-align: right; }
  .p2 {
    margin-right: 25%;
    padding-bottom: 50px;
    font-size: 100px;
    font-style: bold;
    color: white;
    font-family: titillium web;
    text-align: right; }
  .p3 {
    font-size: 16px;
    font-style: normal;
    color: white;
    font-family: titillium web;
    text-align: center; }
  .p4 {
    padding: 2px;
    font-size: 14px;
    font-style: normal;
    color: white;
    font-family: titillium web;
    text-align: center; }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 25px; }
  .profes {
    width: 200px;
    height: 220px;
    border: 2px solid yellow;
    border-radius: 15px; }
  .mapa {
    text-align: center;
    height: 150px;
    width: 150px;
    padding-bottom: 40px; }
  .containerClasesImg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; }
    .containerClasesImg .carousel-item img {
      height: 70vh;
      border-radius: 40px; }
  .ulFoot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px; }
    .ulFoot .foot {
      height: 30px;
      width: 30px; }
  .nav-link {
    color: white;
    font-family: "inria sains";
    font-size: 18px; } }

@media (max-width: 575px) {
  .containerInicio {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "header" "main" "footer";
    background-image: url(../assets/img/inicio-cel2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .containerConocenos {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 84% 6%;
    grid-template-areas: "header" "main" "footer";
    background-image: url(../assets/img/Conocenos-celu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .containerClases {
    grid-template-columns: 1fr;
    grid-template-rows: 13% 80% 7%;
    grid-template-areas: "header" "main" "footer";
    background-image: url(../assets/img/Clases-celu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .containerGaleria {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 83% 7%;
    grid-template-areas: "header" "main" "footer";
    background-image: url(../assets/img/Galeria-celu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .containerContacto {
    grid-template-rows: 12% 78% 10%;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    background-image: url(../assets/img/Contacto-tablet.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .logo {
    position: absolute;
    height: 25px;
    width: 25px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: center; }
  .p {
    display: none; }
  .p1 {
    display: none; }
  h1 {
    letter-spacing: 1px;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-top: 40px;
    margin-left: 43%;
    font-size: 65px;
    font-style: bold;
    color: yellow;
    font-family: titillium web; }
  h2 {
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 55px;
    font-style: bold;
    color: yellow;
    font-family: titillium web; }
  h4 {
    text-align: center;
    padding-bottom: 5px;
    font-size: 25px;
    font-style: normal;
    color: white;
    font-family: titillium web; }
  p2 {
    padding: 0px;
    margin-left: 43%;
    margin-right: 36%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    font-style: bold;
    color: white;
    font-family: titillium web;
    text-align: center; }
  .p3 {
    font-size: 14px;
    font-style: normal;
    color: white;
    font-family: titillium web;
    text-align: center; }
  .p4 {
    padding: 10px;
    font-size: 12px;
    font-style: normal;
    color: white;
    font-family: titillium web;
    text-align: none; }
  .ubicacion {
    display: none; }
  .mapa {
    display: none; }
  .ulFoot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px; }
    .ulFoot .foot {
      height: 30px;
      width: 30px; }
  .nav-link {
    color: white;
    font-family: "inria sains";
    font-size: 20px;
    text-align: end;
    font-style: bold; }
  .carousel-item img {
    height: 65vh;
    border-radius: 40px; }
  .h4Contacto {
    display: none; }
  .datosDeContacto {
    padding: 5px;
    font-size: 14px;
    font-style: normal;
    color: white;
    font-family: titillium web;
    text-align: none; }
  .p4Contacto {
    font-size: 14px;
    font-style: normal;
    color: white;
    font-family: titillium web;
    text-align: center; } }
