.clases{
    background-image: url(../assets/img/Clases.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.containerClases{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10% repeat(2, 1fr) 5%;
    grid-template-areas:
    "header header header header header"
    "main main main main main"
    "main main main main main"
    "footer footer footer footer footer"
    ;
}
.containerClasesImg{
    margin-left: 35px;
    margin-right: 35px;
    .carousel-item img{
        height: 90vh;
        border-radius: 40px;
    }
}
